@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/fontawesome-webfont.eot?v=4.5.0');
    src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
}
.search form {
  position: relative;
  margin: 0 auto;
}
.search:after {content:""; clear:both; display:table}
.search form {
  height: 50px;
  width: auto;
  float: right;
  margin-right: 30px;
}
.search input {
  height: 100%;
  width: 0;
  padding: 0 50px 0 15px;
  border: none;
  border-bottom: 3px solid transparent;
  outline: none;
  background: transparent;
  transition: .4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}
.search input:focus {
  width: 300px;
  z-index: 1;
  border-bottom: 3px solid #66afef;
  border-left: 3px solid #66afef;
}
.search button {
  background: #66afef;
  border: none;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.search button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 20px;
  color: #ffffff;
}